/* universal selector */

:root {
  --sch-color: #562eff;
}

* {
  margin: 0;
  padding: 0;
}

/* body style and customization*/
body {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #000000;
  background-color: #f3f1ff;
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Work Sans", sans-serif;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  background-color: #ffffff;
}

h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: var(--sch-color);
}

ul li {
  list-style: none;
}

ul li a {
  text-decoration: none;
  color: #fff;
}

/* common designs */
.d-flex {
  display: flex;
}

.d-grid {
  display: grid;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

/* header and nav*/
header,
nav {
  background-color: var(--sch-color);
  height: 100px;
}

header nav {
  justify-content: space-between;
}

.nav-logoPic {
  height: 51px;
  width: 40.424137115478516px;
}

/* Top-Player-Style */
.top-player-wrap {
  padding: 30px;
}

.section-title {
  color: var(--sch-color);
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 30px;
}

.players {
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 30px;
  padding-bottom: 30px;
}

.players > .player {
  align-items: center;
  gap: 10px;
}

.players > .player img {
  width: 56px;
  height: 56px;
}
/* blog-style */

.blogs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 25px;
}

.blog-wrap {
  padding: 30px;
  padding-top: 0;
}

.blog {
  display: flex;
}

.blog-thumbnail img {
  width: 177px;
  height: 117px;
}

.blog-info {
  margin-left: 15px;
}

.blog-title,
.course-title {
  font-size: 20px;
  line-height: 34px;
  color: #000000;
}

.blog-author {
  font-size: 16px;
  line-height: 24px;
  color: #9f9f9f;
}

.blog-author a {
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */

  color: #562eff;
  text-decoration: none;
}

/* Course-Section-Style */
.course-area {
  margin-top: 20px;
}

.course-wrap {
  padding: 30px;
}
.courses {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 25px;
}
.course-thumbnail img {
  width: 224px;
  height: 104px;
}

/* .course-info {
} */

.instructor a {
  text-decoration: none;
  color: #ed6b4f;
  font-size: 14.6913px;
  line-height: 17px;
}

.course-rating {
  display: flex;
  align-items: center;
}
.course-rating ul {
  display: flex;
  margin-right: 7px;
}

.course-rating ul li i {
  color: #ffc014;
  font-size: 14.6913px;
  line-height: 22px;
}

.course-rating ul li:last-child i {
  color: #aeaeae;
}

.course-rating p {
  font-weight: 400;
  font-size: 14.6913px;
  line-height: 22px;
  color: #a2a2a2;
}

.course-rating span {
  font-weight: 600;
  font-size: 14.6913px;
  line-height: 20px;
  color: rgb(255, 74, 96);
  margin-left: 7px;
  background-color: rgb(255, 228, 232);
  border-radius: 15px;
  padding: 3px 10px;
}
.course-rating span i {
  margin-right: 5px;
}
